<%= form_with(model: comment) do |form| %>
  <% if comment.errors.any? %>
    <div class="alert alert-danger">
      <h6><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h6>
      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3" style="display: none;">
    <%= form.label :post_id, class: "form-label" %>
    <%= form.text_field :post_id, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :content, class: "form-label" %>
    <%= form.text_area :content, rows: 3, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
